<!-- <div class="valign-wrapper"> -->
  <h3>My Profile</h3>
<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="initMap()" ng-controller="GoogleCtrl">Search Locations
</div>

<!--     </div>
    <table class="highlight">
        <thead>
          <tr>
              <th data-field="id">Name </th>
              <th data-field="name">Location</th>
              <th data-field="price">Review</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>2 main st. Nashville, TN 37777</td>
            <td>3 stars</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>23 south st. Nashville, TN 32222</td>
            <td>1star <section class="form-group" id="rating-container"><i class="fa fa-star fa-lg" aria-hidden="true"></i></section></td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>25 west st. Nashville, TN 311111</td>
            <td>5stars</td>
          </tr>
        </tbody>
      </table> --> 
<!-- FOOTER -->
<!--         <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer> -->
