<div ng-controller="ProfileCtrl" ng-show="user">

<div class="valign-wrapper">
  <h3>My Profile</h3>
</div>

    </div>
    <table class="highlight">
        <thead>
          <tr>
              <th data-field="name">Name of Location </th>
              <th data-field="drone">Type of Drone</th>
              <th data-field="date">Date Visited</th>
              <th data-field="review">Review</th>
              <th data-field="rating">Rating</th>
              <th data-field="terrain">Terrain</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>2 main st. Nashville, TN 37777</td>
            <td>3 stars</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>23 south st. Nashville, TN 32222</td>
            <td>1star</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>25 west st. Nashville, TN 311111</td>
            <td>5stars</td>
          </tr>
        </tbody>
      </table> 

